<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册模块</title>
</head>
<body>
    <h4>这是注册模块</h4>
    <hr />
    <div>
        <form action="/regist/" method="post">
            <div>
                <input type="hidden" name="csrf_token" value="{{ gen_token() }}" />
{#                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />#}
            </div>
            <div>
                {{ form.name.label }}:{{ form.name() }}
            </div>
            <div>
                {{ form.email.label }}:{{ form.email() }}
            </div>
            <div>
                {{ form.password.label }}:{{ form.password() }}
            </div>
            <div>
                {{ form.confirm.label }}:{{ form.confirm() }}
            </div>
            <div>
                <button type="submit">注册</button>
            </div>
        </form>
    </div>
</body>
</html>